

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable hover effects for mobile devices */
@media (max-width: 768px) {
    .group:hover .group-hover\:scale-110 {
      transform: none !important;
    }
  }
  
 
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit browsers */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Hide scrollbar in IE/Edge */
  scrollbar-width: none;  /* Hide scrollbar in Firefox */
}

.truncate-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
      box-sizing: inherit;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-count-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ef4444;  /* Red background */
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  min-width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}


/* For Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
